<div class="projects">
  <div class="title">
    <h1>Meus Projetos</h1>
    <p>Alguns dos meus projetos utilizando o framework Angular nas versões 16 e 17</p>
  </div>

  <div class="project">
    <img src="./assets/projects/charity-finder.png" alt="Imagem do website Charity Finder" appHoverSrc>
    <div class="info">
      <h2>Charity Finder</h2>
      <span class="separator"></span>
      <p>Um website que apresenta a importância da doação e disponibiliza uma ferramenta para que o usuário busque e escolha como ele vai fazer a diferença.</p>
      <a href="https://victormuniz7.github.io/charity-finder/" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/drawing-app.png" alt="Imagem do website Drawing App" appHoverSrc>
    <div class="info">
      <h2>Drawing App</h2>
      <span class="separator"></span>
      <p>Um aplicativo de desenho feito utilizando a ferramenta p5js, onde é possível desenhar utilizando a cor e tamanho que preferir.</p>
      <a href="https://krs-drawing-app.netlify.app" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/aim-trainer.png" alt="Imagem do website Aim Trainer" appHoverSrc>
    <div class="info">
      <h2>Aim Trainer</h2>
      <span class="separator"></span>
      <p>Website criado para melhorar reflexos e a mira em jogos de FPS, é possível escolher tamanho do alvo, modo de jogo e movimentação.</p>
      <a href="https://victormuniz7.github.io/aim-trainer/" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/book-finder.png" alt="Imagem do website Book Finder" appHoverSrc>
    <div class="info">
      <h2>Book Finder</h2>
      <span class="separator"></span>
      <p>Esse website permite a busca de livros utilizando a Google Books API.</p>
      <a href="https://victormuniz7.github.io/book-finder/" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/card-memory-game.png" alt="Imagem do website Card Memory Game" appHoverSrc>
    <div class="info">
      <h2>Memory Game</h2>
      <span class="separator"></span>
      <p>Um simples jogo da memória, onde é possível selecionar dificuldades e testar seus limites.</p>
      <a href="https://victormuniz7.github.io/card-memory-game/" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/flash-cards.png" alt="Imagem do website Flash Cards" appHoverSrc>
    <div class="info">
      <h2>Flash Cards</h2>
      <span class="separator"></span>
      <p>Um jogo para aprimorar a capacidade de raciocínio rápido e matemática.</p>
      <a href="https://victormuniz7.github.io/flash-cards/" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
</div>
