<div class="projects">
  <div class="title">
    <h1>Meus Projetos</h1>
    <p>Alguns dos meus projetos utilizando o framework Angular nas versões 16 e 17</p>
  </div>

  <div class="project">
    <img src="./assets/projects/charity-finder.png" alt="Imagem do website Charity Finder">
    <div class="info">
      <h2>Charity Finder</h2>
      <span class="separator"></span>
      <p>Um website que apresenta a importância da doação e disponibiliza uma ferramenta para que o usuário busque e escolha como ele vai fazer a diferença.</p>
      <a href="https://victormuniz7.github.io/charity-finder/" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/drawing-app.png" alt="Imagem do website Drawing App">
    <div class="info">
      <h2>Drawing App</h2>
      <span class="separator"></span>
      <p>Um aplicativo de desenho feito utilizando a ferramenta p5js, onde é possível desenhar utilizando a cor e tamanho que preferir.</p>
      <a href="https://krs-drawing-app.netlify.app" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/ideal-website.png" alt="Imagem do website Ideal">
    <div class="info">
      <h2>Ideal Website</h2>
      <span class="separator"></span>
      <p>Landing page criada para o laboratório de análise de solo Ideal de Sorocaba-SP.</p>
      <a href="https://ideal-website-tau.vercel.app" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/book-finder.png" alt="Imagem do website Book Finder">
    <div class="info">
      <h2>Book Finder</h2>
      <span class="separator"></span>
      <p>Esse website permite a busca de livros utilizando a Google Books API.</p>
      <a href="https://victormuniz7.github.io/book-finder/" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/pomodoro-clock.png" alt="Imagem do website Pomodoro Clock">
    <div class="info">
      <h2>Cronômetro Pomodoro</h2>
      <span class="separator"></span>
      <p>Um cronômetro editável para a técnica de Pomodoro, que consiste na utilização de um cronômetro para dividir o trabalho em períodos de 25 minutos, separados por breves intervalos.</p>
      <a href="https://victormuniz7.github.io/pomodoro-clock/" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="./assets/projects/cmh-website.png" alt="Imagem do website CMH">
    <div class="info">
      <h2>CMH Website</h2>
      <span class="separator"></span>
      <p>Landing page criada para a distribuidora de medicamentos CMH de Maringá-PR.</p>
      <a href="https://www.cmhfarmaceutica.com.br" target="_blank">Explore mais <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
</div>
