<div class="contact" id="contactSection">
  <h1>Entre em contato</h1>
  <div class="contact-ways">
    <div class="way">
      <i class="fa-brands fa-github"></i>
      <p>Github</p>
      <a href="https://github.com/VictorMuniz7" target="_blank">https://github.com/VictorMuniz7</a>
    </div>
    <div class="way">
      <i class="fa-brands fa-linkedin"></i>
      <p>Linkedin</p>
      <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank">https://www.linkedin.com/in/victor-muniz-236842267/</a>
    </div>
    <div class="way">
      <i class="fa-solid fa-envelope"></i>
      <p>Email</p>
      <p (click)="copyEmail()" class="cursor-pointer">victormuniz.oliveira7&#64;gmail.com</p>
    </div>
    <div class="way">
      <i class="fa-brands fa-whatsapp"></i>
      <p>Whatsapp</p>
      <p (click)="copyPhone()" class="cursor-pointer">+55 (18) 981709943</p>
    </div>
  </div>
</div>
