<div class="banner">
  <div class="about">
    <h1>Olá, meu nome é <br><span>Victor Muniz</span></h1>
    <p>Combinando paixão e criatividade para dar vida à sua visão digital - sou o parceiro ideal para tornar seus sonhos online em realidade.</p>
    <div class="info">
      <a href="./assets/Curriculo.pdf" class="button-primary" target="_blank">Currículo <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      <button class="button-secondary" (click)="scroll()">Contate-me <i class="fa-solid fa-phone"></i></button>
    </div>
  </div>
  <img src="./assets/avatar.png" alt="Minha foto" id="avatar">
</div>

