<div class="container">
  <div class="title">
    <h1>Tecnologias</h1>
    <p>Minhas habilidades e tecnologias utilizadas no dia-a-dia.</p>
  </div>
  <div class="technologies">
    <div class="technology">
      <i class="devicon-angularjs-plain" appHoverClass="colored"></i>
      <p>Angular</p>
    </div>
    <div class="technology">
      <i class="devicon-html5-plain" appHoverClass="colored"></i>
      <p>HTML</p>
    </div>
    <div class="technology">
      <i class="devicon-css3-plain" appHoverClass="colored"></i>
      <p>CSS</p>
    </div>
    <div class="technology">
      <i class="devicon-javascript-plain" appHoverClass="colored"></i>
      <p>Javascript</p>
    </div>
    <div class="technology">
      <i class="devicon-typescript-plain" appHoverClass="colored"></i>
      <p>Typescript</p>
    </div>
    <div class="technology">
      <i class="devicon-java-plain" appHoverClass="colored"></i>
      <p>Java</p>
    </div>
    <div class="technology">
      <i class="devicon-spring-original" appHoverClass="colored"></i>
      <p>Spring Boot</p>
    </div>
    <div class="technology">
      <i class="devicon-mysql-original" appHoverClass="colored"></i>
      <p>MySQL</p>
    </div>
  </div>
</div>
